.arrowdown-icon img {
    width: 1.5rem;
}

.arrowup-icon img {
    width: 1.5rem;
}

.remove-btn {
    border-radius: 10px;
    cursor: pointer;
    background-color:#05ADAD;
    width: 8rem;
    height: 3rem;
    color: white;
}

.remove-btn:hover {
    background-color: #0A9292;
}