.card-image img {
    width: 10rem;
}

.card-image {
    display: flex;
    margin-bottom: -7rem;
}

.card-content {
    padding-bottom: 6rem;
    text-align: center;
    margin-left: 11rem;
    margin-top: -15rem;
}

.card {
    width: 35rem;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
    margin-left: 30%;
    background-color: #f5ef96;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.4) ;
}

.add-icon {
    width: 2.5rem;
}

.add-icon:hover {
    cursor: pointer;
}

.centered {
    text-align: center;
}