.checkout-btn {
    border-radius: 10px;
    cursor: pointer;
    background-color:#8369E0;
    width: 10rem;
    height: 3rem;
    color: white;
}

.checkout-btn:hover {
    background-color: #604D8F;
}

.cart-container {
    margin-left: 44%;
}
